.story {
  background-color: tan;
  color: black;
  text-align: left;
}
.jh {
  background-color:black;
  color: rgb(255,20,147);
  text-align:center;
  font-family:cursive;
}
.icc {
  text-align:center;
} //added this so I could center the ice cream cone
